@import "../../node_modules/bootstrap/scss/functions";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

$primary: #456965;
$secondary: #b4858d;
//$light: #F6F3E3;
$light: #fdfcfa;
$dark: #555555;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Poppins", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: $primary;
  background: $light;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Poiret One", "Poppins", Tahoma, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

button {
  font-family: "Poppins", Tahoma, Arial, Helvetica, sans-serif;
  font-weight: 100 !important;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5vmin;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}
